UBBD_DIR=""
UBBD_KERNEL_DIR=""
UBBD_TESTS_DIR=""
UBBD_TESTS_SETUP_CMD=""
UBBD_TESTS_XFSTESTS_DIR=""

XFSTESTS_SCRATCH_MNT=""
XFSTESTS_TEST_MNT=""

FIOTEST_OUTFILE=""

UBBD_TESTS_POST_TEST_CMDS=""

UBBD_S3_ACCESSID=""
UBBD_S3_ACCESSKEY=""
UBBD_S3_HOSTNAME=""
UBBD_S3_PORT=""
UBBD_BUCKET_NAME=""

RBD_POOL=""
RBD_NS=""
RBD_IMAGE=""
RBD_SNAP=""
RBD_CEPH_CONF=""
RBD_USER_NAME=""
RBD_CLUSTER_NAME=""
